<h1>Chat app</h1>
Olá, vamos cadastrar uma ficha. Digite o nome completo para começar
<ul id="messages"></ul>
<form id="message-form" action="">
    <input type="text"
        name="message"
        id="message"
        autocomplete="off" />
    <button>Send!</button>
</form>
<div id='fichaCadastro'></div>
<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();
    const messagesList = document.getElementById('messages')    
    const messageForm  = document.getElementById('message-form')
    messageForm.addEventListener('submit', e => {
        e.preventDefault()
        const inputMessage = document.getElementById('message')
        socket.emit('newMessage', inputMessage.value)
        inputMessage.value = ''
    })
    socket.on('messageResponse', msg => {
        const messageItem = document.createElement('li')
        messageItem.innerHTML = msg
        messagesList.appendChild(messageItem)
    });    
</script>

